*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
}
/* invert button attribute */
[invert]{
    filter:invert(100%)
}
body{
    background-color: black;
    font-family: 'Bebas Neue', cursive;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
/* icon and text */
.header{
    display: flex;
    position: relative;
    justify-content: center;
}

/* eye icon placement */
#eye_svg{
    width: 15vw;
    cursor: pointer;
    filter: invert();
    position: absolute;
    
}
/* button{
    width: 10vw;
    cursor: pointer;
    background-color: transparent;
    border: 10;
    border-color: red;
 
} */

/* text title style */
#text{
    font-size: 5vw;
    width: 4vw;
    height:15vh;
    line-height: 80%;
    padding-top: 1.5vh;
    animation: blink 2s ease-in-out infinite alternate;
    padding-left: 15vw;
}
@keyframes blink {
    0%{
        color: white;

    }
    100%{
        color: black;
    }
}

/* logo size and invert stylings, hovers */
.logo{
    width: 20vw;  
   filter: invert(100%);
}
.logo:hover, .logo:focus{
    filter: invert(0%);
    
}

/* logo placement */

#astro_svg{
    position: absolute;
    top:35vh;
    left: 10vw;
}
#car_svg{
    position: absolute;
    left: 70vw;
    top: 10vh;
}

#foot_svg{
    position: absolute;
    left: 70vw;
    top: 40vh;
}

#make_svg{
    position: absolute;
    left: 10vw;
    top: 65vh;
}

#rock_svg{
    position: absolute;
    left: 70vw;
    top: 70vh;
}

#sim_svg{
    position: absolute;
    left: 40vw;
    top: 60vh;
}
#time_svg{
    position: absolute;
    left: 40vw;
    top: 15vh;
}

/* add media query that disables hover functions for mobile, and adjust logo placement */