*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
}
/* 
#wall{
    position: absolute;
    width:100vw;
} */



/* background color change */



body.about{
    animation: color 20s infinite;  
}
@keyframes color {
    0%{background-color: #001118;}
    10%{background-color: #015f73 ;}
    20%{background-color: #089396;}
    30%{background-color: #93d2bd;}
    40%{background-color: #e8d7a6;}
    50%{background-color: #ed9b00;}
    60%{background-color: #ca6701;}
    70%{background-color: #bb3d03;}
    80%{background-color:#ad2111 ;}
    90%{background-color: #992125;}
    100%{background-color: #001118;}
}
/* window */
.container{
     /* position:absolute;
    top: 25vh;
    margin-left: 40vw;
    border-color: blue;
    border-width: 5px;
    border-style: dashed;
    margin-top: 10vh;
    margin-bottom: 15vh;
    margin-right: 40vw;
    margin-bottom: 20vh; */
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border-color: #ed9b00;
    border-width: 25px;
    border-style:groove; */
    padding:2vw; 
    width: 30vw;
    height: 33vh;
    /* scroll function */
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    /* background-color: beige; */
    border-radius: 2rem;
   
}
.container:hover{
    cursor: wait;
}
/* home button */
div.home{
    color: beige;
    position: fixed;
    font-family: 'Fredoka One', cursive;
    top: 3%;
    left:3vw;
    z-index: 2;
    font-size: 2vw;
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
}
div.home:hover{
    text-decoration:underline;
    color: black;
}
/* title */
h1{

  
    top: 1%;
    color: #f5f5dc;
    left: 8vw;
    font-size: 50vw;
    display: flex;
    flex-wrap: wrap;
    text-shadow: 5px 5px #ad2111;
    z-index: 1;

    font-family: 'Fredoka One', cursive;
    font-size: 3vw;
    
    border-radius: 1rem;
    text-align: left;
    padding: 1rem;
}
h1:hover{
    cursor: auto;
}
body2{
    font-family: 'Fredoka One', cursive;
    white-space: wrap;
    font-size: 2rem;
    color: beige;
    text-align: center!important;
}
/* #here{
    color: #bb3d03;
} */
#name{
    font-size: 1rem;
}