*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
}

img{
    /* height:35vh;
    position: relative; */
    display: inline-block;
    vertical-align: middle;
    height: 80vh;
    opacity: 70%;
}

img:hover{
    opacity: 100;
}
body{
    font-family: 'Fredoka One', cursive;
    text-shadow: 20px 20px #ff0000;


    width: auto;
    height:210px;
    overflow-x:scroll;
    overflow-y: hidden;
    white-space: nowrap;
    animation: color 20s infinite;  
}
/* @keyframes color {
    0%{background-color: #001118;}
    10%{background-color: #015f73 ;}
    20%{background-color: #089396;}
    30%{background-color: #93d2bd;}
    40%{background-color: #e8d7a6;}
    50%{background-color: #ed9b00;}
    60%{background-color: #ca6701;}
    70%{background-color: #bb3d03;}
    80%{background-color:#ad2111 ;}
    90%{background-color: #992125;}
    100%{background-color: #001118;}
} */
#title{
    position:fixed;
text-align: center;
    color: whitesmoke;
    margin-top: -10%;
    left: 45vw;
    font-size: 7vw;
    display: flex;
    flex-wrap: wrap;
    


}
.container{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    margin-top:20vh;
 
}