*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
width: 100vw;
height:100vh;
}
div{
    
    /*border: 1px solid blue;*/
    transition: all 300ms ease-in-out;
}

p{
    position: fixed;
    font-size: 200%;
    
}


img{ 
    position: absolute;
    height: 80px;
width: 80px;}

a{
    text-decoration: none;
    color: brown;
}

